{% extends 'base.html' %}

{% block title %}Главная — SkillSwap{% endblock %}

{% block content %}
    <h2>Добро пожаловать на SkillSwap!</h2>
    <p>Здесь ты можешь обмениваться навыками без денег — учись, делись, меняйся.</p>

    <div class="slide-list">
        {% include "components/test.html" with title="Учись" text="Учись" sub_info="adsdsadas" %}
        {% include "components/test.html" with title="Учись" text="Учись" sub_info="adsdsadas" %}
        {% include "components/test.html" with title="Учись" text="Учись" sub_info="adsdsadas" %}
    </div>
<style>
    .slide-list {
        display: flex;
        gap: 20px;
        margin-top: 30px;
    }
</style>
{% endblock %}



